  @keyframes Entrada {
    0%{
        opacity: 0%;
        margin-top: 100%;
    }
    100%{
        opacity: 100%;
        margin-top: 0%;
    }
  }
    body{
        background-color: rgb(44, 44, 44);
    }
    textarea {
      color: white;
      width: 100%;
      height: 94%;
      resize: none;
      font-size: 15px;
      padding: 12px;
      border-radius: 8px;
      background: white;
      opacity: 50%;
      border: 1px solid #c5c5c5;
      transition: 500ms;
      background: transparent;
    }
    textarea:hover{
      opacity: 100%;
    }
    #Executar{
      margin: 4px;
      width: 120px;
      height: 30px;
      border: none;
      border-radius: 10px;
      background: white;
      transition: 500ms;
    }
    #Executar:hover{
      transform: rotate(10deg);
      background: black;
      color: rgb(255, 255, 255);
      cursor: pointer;
    }